/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../img/cork.png");
}

h1 {
    background-image: url("../img/wall.png");
    padding: 20px;
    font-size: 50px;
}


#myAlbum {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

img {
    max-width: 100%;
    margin: 15px;
    border-radius: 15px;
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}


.card {
    position: relative;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.caption {
    margin-left: 15px;
    padding: 3px 0;
    text-transform: capitalize;
}


.card,
.caption {
    background: #FFFFFF;
    border-radius: 10px;
}

.pin {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.close {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

/* FLEX UTILITIES */

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

/* TEXT UTILITIES */

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


/* DISPLAY UTILITIES */

#overlay.d-none {
    display: none;
}


/* ANIMATIONS */

.card:hover {
    transform: rotate(10deg);
    transition-duration: 0.5s;
    z-index: 1000;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.card:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
    cursor: pointer;
}

.card:hover .pin {
    display: none;
}



/* MEDIA QUERY */

@media screen and (min-width: 576px) {

    .card {
        max-width: calc((100% - 50px) / 2);
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {

    #myAlbum {
        max-width: 750px;
    }

    .card {
        width: calc((100% - 60px)/ 3);
    }
}