/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    font-family: "Edu TAS Beginner", sans-serif;
    font-weight: auto;
    font-style: normal;
    background-image: url("../img/cork.png");
    padding-bottom: 20px;
}

h1 {
    background-image: url("../img/wall.png");
    padding: 20px;
    font-size: 50px;
}


#myAlbum {
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin: 15px;
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    max-width: calc(100% -30px);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.caption {
    margin-left: 15px;
    font-size: 0.8em;
}

.card,
.caption {
    background: #FFFFFF;
}

/* FLEX UTILITIES */

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

/* TEXT UTILITIES */

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


/* ANIMATIONS */

.card:hover {
    transform: rotate(-30deg);
    transition-duration: 1.1s
}

.card:hover img {
    transform: scale(1.2);
    transition-duration: 1.1s;
}

/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    #myAlbum {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc((100% - 50px) / 2);
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {

    .card {
        width: calc((100% - 30px)/ 3);
    }
}